.content .imge {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.contact .left {
  width: 36%;
}
.contact .right {
  width: 60%;
}
.contact .box {
  padding: 30px;
}
.contact .heading h3 {
  font-size: 30px;
}
.contact .details h3 {
  margin: 20px 0 20px 0;
  font-size: 35px;
}
.contact .details p {
  font-size: 17px;
}
.contact .details .mail {
  display: flex;
  align-items: center;
}
.contact .button {
  margin-top: 20px;
}
.contact button {
  margin-right: 20px;
}

.contact .right {
  padding: 35px;
  display: flex;
  justify-content: center;
}
.contact .right img {
  width: 100%;
}
/* .contact .input span {
  font-size: 13px;
}
.contact input {
  margin-top: 10px;
}
.contact .right button {
  width: 100%;
  color: #ff014f;
}
.contact .right button:hover {
  color: white;
}
.contact .right button i {
  margin-left: 10px;
} */
@media (max-width: 768px) {
  .contact .d_flex {
    flex-direction: column;
  }
  .contact .left,
  .contact .right {
    width: 100%;
    margin-top: 50px;
  }
}
