.cont_f {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-family: "Berkshire Swash", cursive;
}
.cont_f .image img {
  width: 100%;
  height: 2rem;
  object-fit: contain;
}
